<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SBB</a> <!--SBB 클릭하면 메인 페이지로 이동하도록 설정-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="flase"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!-- 화면 크기에 따라 내비게이션 바의 메뉴 노출을 관리 -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!-- 내비게이션 바의 메뉴 오른쪽과 왼쪽 여백을 지정 -->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a> <!--로그인 텍스트 표시 및 클릭하여 이동할 페이지 설정-->
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a> <!-- sec:authorize="isAnonymous()": 로그인되지 않은 경우에 해당 요소(로그인 링크)가 표시 / sec:authorize="isAuthenticated() : 로그인된 경우에 해당 요소(로그아웃 링크)가 표시" -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/signup}">회원 가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>